body {
    width : 80%;
    margin : 0 auto;
}
  
.input {
    font-size: 16px;
    border: 1px solid #2C83A9;
    padding: 10px;
}

.btn {
    font-size: 16px;
    background-color: #2C83A9;
    color: #FFF;
    border: 1px solid #2C83A9;
    cursor : pointer;
    padding: 10px;
}
  

  
